body {
  background: #f9f7f7;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

main {
  display: flex;
  align-items: center;
  min-height: 75vh;
  padding: 2em;
  flex: 0 0 auto; /* Added rule */
}

main canvas {
  margin: auto;
}

#stepDescription {
  text-align: center;
  margin-top: -20px;
}
